body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: url("../../img/map-of-the-world-2401458_1280.jpg") fixed no-repeat;
  background-size: cover;
  animation: bg-animate 5s infinite;
  -webkit-animation: bg-animate 5s infinite;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

@media (max-width: 992px) {
  .container {
    display: block;
  }
}

.header {
  font-family: 'times new roman', cursive;
  font-size: 1rem;
  width: 35vw;
  height: 100vh;
  background: #56CCF2;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 128, 237, 0.9)), to(rgba(86, 204, 242, 0.9)));
  background: linear-gradient(to right, rgba(47, 128, 237, 0.9), rgba(86, 204, 242, 0.9));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 2rem 0 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 2rem 0 4rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-weight: 100;
}

.header h1, .header h2 {
  text-transform: uppercase;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: .2rem;
}

@media (max-width: 992px) {
  .header {
    width: 100vw;
    min-height: 40vh;
  }
}

.header__heading {
  width: 100%;
  text-align: center;
  font-weight: 900;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  padding: .5rem 0;
}

.map_container {
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes bg-animate {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 100% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}

@keyframes bg-animate {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 100% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 4.5rem;
  width: 4.5rem;
  position: fixed;
  top: 1rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 3rem;
  background-image: radial-gradient(rgba(86, 204, 242, 0.9), rgba(47, 128, 237, 0.9));
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 0.6rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: .6rem 1.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
  letter-spacing: .2rem;
}

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1rem;
  display: inline-block;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #2F80ED;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 2.2rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 2rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation__icon::before {
  top: -.5rem;
}

.navigation__icon::after {
  top: .5rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -.6rem;
}

.navigation__button:hover .navigation__icon::after {
  top: .6rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
/*# sourceMappingURL=style.css.map */